$h1: #208448;
$h1-font: #dcffef;
$header-background: #023617;
$less-more: #5d5d5d;
$host-gest-background: #030a11;
$host-gest-color: #d5dae0;
$ki-s-p-i-color: #bcccc1;
$divRov-even-background: rgba(17,17,17,.9);
$divRov-odd-background: rgba(17,17,17,.6);
$first-second-gem-background: #030a11;
$border-color: #213443;
$text-color-yellow: #fdb417;
$text-color-green: #22965c;
$text-color-red: #a81812;
